<h1>List of All Resolved Events</h1>
<table>
	<tr>
  	<th>Status</th>
    <th>Title</th>
    <th>Date Scheduled</th>
    <th>Resolved</th>
  </tr>
	<% @resolved.each do |event| %>
    <tr>
      <td><%= event.status %></td>	
      <td><%= link_to event.title, event_path(event) %></td>
      <td><%= event.datetime%></td>
      <td><%= event.resolved%></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Home Page', controller: 'welcome' %>