<h1>Listing Events</h1>
 <%= link_to 'New event', new_event_path %>
<table>
  <tr>
  	<th>Status</th>
    <th>Title</th>
    <th>Date Scheduled</th>
    <th>Resolved</th>
  </tr>
 
  <% @events.each do |event| %>
    <tr>
      <td><%= event.status %></td>	
      <td><%= link_to event.title, event_path(event) %></td>
      <td><%= event.datetime%></td>
      <td><%= event.resolved%></td>
      <td><%= link_to 'Edit', edit_event_path(event)%></td>
      <td><%= link_to 'Destroy', event_path(event),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @events %>
<%= link_to 'Home Page', controller: 'welcome' %>