<h1>New Event</h1>

<%= form_with scope: :event, url: events_path, local: true do |form| %>
	<% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
  
  <p>
  	<%= form.label :status %>
  	<%= form.select :status, [['Critical','critical'],['Severe','severe'],['Important','important']]%>
  </p>
  <p>
  	
    <%= select_datetime Time.now, prefix: :event %>
  </p>
  <p>
  	<%= form.label :resolved %>
  	<%= form.select :resolved, [['Active','false'],['Resolved','true']]%>
  </p>
  <p>
    <%= form.submit %> 
  </p>
<% end %>
<%= link_to 'Back', events_path %>