<div id ="header">
	<div class = "inner">
		<h1>Status Checker</h1>
		<ul>			
 			<li><%= link_to 'Home Page', controller: 'welcome' %></li>
 			<li><%= link_to 'List of All Scheduled Events', controller: 'events' %></li>
			<li><%= link_to 'List of All  Resolved Scheduled Events', controller: 'resolved' %></li>
			<li><%= link_to 'RSS Feed', feed_path+".rss", :action => 'show', :format => :rss%></li>
 		</ul>
 	</div>
</div>
<div id="content">
	<div class="inner">
		<div class="options">
		<h4 class ="back"><%= link_to 'Back', events_path %></h4>
		</div>
		<h1>Create New Event</h1>
		
		
		<%= form_with scope: :event, url: events_path, local: true do |form| %>
			<% if @event.errors.any? %>
		    <div id="error_explanation">
		      <h2>
		        <%= pluralize(@event.errors.count, "error") %> prohibited
		        this event from being saved:
		      </h2>
		      <ul>
		        <% @event.errors.full_messages.each do |msg| %>
		          <li><%= msg %></li>
		        <% end %>
		      </ul>
		    </div>
		  <% end %>
		  <br>
		  <p>
		    <%= form.label :title %><br>
		    <%= form.text_field :title %>
		  </p>
		 <br>
		  <p>
		    <%= form.label :text %><br>
		    <%= form.text_area :text %>
		  </p>
		  <br>
		  <p>
		  	<%= form.label :status %>
		  	<%= form.select :status, [['Critical','critical'],['Severe','severe'],['Important','important']]%>
		  </p>
		  <br>
		  <p>
		  	<%= form.label(:datetime, "Date and Time")%>
		    <%= select_datetime Time.now, prefix: :event %>
		  </p>
		  <br>
		  <p>
		  	<%= form.label :resolved %>
		  	<%= form.select :resolved, [['Active','false'],['Resolved','true']]%>
		  </p>
		  <br>
		  <p>
		    <%= form.submit %> 
		  </p>
		<% end %>
	</div>
</div>
